<div #container class="notecard-container">

    <a [routerLink]="link">

        <div class="notecard-content">
            <h1 class="notecard-title" >{{title}}</h1>
            <p>{{body}}</p>
    
            <!-- <ng-template #bodyText class="notecard-body">
               <p>
               
            </p>
    
               <ng-template #truncator class="fade-out-truncation"></ng-template>
            </ng-template> -->
    
        </div>

    </a>

<div class="x-button"(click)="onXButtonClick()">

</div>
</div>
